<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="layout">%style{%date{DEFAULT}}{yellow} %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} %message</Property>
    </Properties>



    <Appenders>
        <Appender name="CustomAppender" topic="log-test" class="edu.mod7.kafkaappender.KafkaAppender">
            <PatternLayout pattern="${layout}"/>
<!--            <Property name="bootstrap.servers">localhost:2181</Property>-->
        </Appender>
    </Appenders>



    <Loggers>
        <Logger name="edu.mod7.kafkaappender">          <!-- ??? -->
            <AppederRef ref="CustomAppender"/>
        </Logger>

        <Root>
            <AppenderRef ref="CustomAppender"/>
        </Root>
    </Loggers>
</Configuration>